@import '../../scss/variables';

.new-post {
  width: 100%;
  background: $white;
  border: 1px solid $gray-border;
  box-shadow: 2px 1px 5px 0px rgba(204,202,204,1);
  border-radius: 4px;
  margin: 32px 0;

  &__body {
    display: flex;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-top: 1px solid $gray-border;
  }

  &__submit {
    background: $green;
    color: $white;
    border: none;
    border-radius: 3px;
    padding: 6px 40px;
    min-height: 44px;
  }

  &__text-area {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 32px 16px 8px;
    font-size: 1rem;
    resize: none;
  }

  ::placeholder {
    color: $green;
  }
}