/*------------------------------------*\
  COLORS
\*------------------------------------*/

$white: #fff;
$green: #30CA72;
$gray-light: #f4f4f4;
$gray-border: #dfdddd;




/*------------------------------------*\
  TYPOGRAPHY
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$font-size-base: 16px;
$font-family-base: 'Roboto', sans-serif;