/*------------------------------------*\
  COLORS
\*------------------------------------*/

$white: #fff;
$cream: #ecebeb;
$green: #30CA72;

$gray_dark: #36333C;
$gray_normal: #67646A;
$gray_semilight: #868588;
$gray_light: #E0DFDF;
$gray_extralight: #EFEFEF;
$gray_superlight: #F6F6F6;
$gray-border: #dfdddd;





/*------------------------------------*\
  TYPOGRAPHY
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$font-size-base: 16px;
$font-family-base: 'Roboto', sans-serif;





/*------------------------------------*\
  ACCESSIBILITY
\*------------------------------------*/

$focus-border: 2px solid rgb(57, 135, 207);